NET "button" LOC = P50 | IOSTANDARD = LVCMOS33;
NET "ext_led<0>" LOC = P51 | IOSTANDARD = LVCMOS33;
NET "ext_led<1>" LOC = P41 | IOSTANDARD = LVCMOS33;
NET "ext_led<2>" LOC = P40 | IOSTANDARD = LVCMOS33;